/* Start Sub-Nav */
.sub-nav .close {
    left: 10px;
}
.sub-nav li::before {
    right: 0;
}
/* End Sub-Nav */

/* Start Landing */
.landing .title h1 {
    background-image: linear-gradient(to left, #1d1762, var(--main-color));
}
.landing .title h1::before {
    right: 0;
    background-image: linear-gradient(to left, #1d1762, var(--main-color));
}
.landing .title button.btn1 {
    background-image: linear-gradient(to left, #1d1762, var(--main-color));
}
/* End Landing */

/* Start Plans */
.plans .plans-cont .plan .price {
    margin-right: 52px;
}
.plans .plans-cont .plan .price::before {
    right: -52px;
}
/* End Plans */